<!DOCTYPE html>
<html lang="en">
<head>
    <title>BoxyPOS Menu</title>
    <nav>

    </nav>
</head>
<body>
{#Side nav bar#}
    <nav class="sidebar">
        <div class="sidebar-header">
            <h2>RestaurantPOS</h2>
        </div>
        <ul class="sidebar-nav">
            <li><a href="/" class="nav-item active">Home</a></li>
            <li><a href="/new-order" class="nav-item">New Order</a></li>
            <li><a href="/history" class="nav-item">History</a></li>
            <li><a href="/menu" class="nav-item">Menu</a></li>
            <li><a href="/admin" class="nav-item">Admin</a></li>
        </ul>
    </nav>
</body>
</html>